<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Armor Images</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style type="text/css">
        .armorListItem {float: left; padding: 0; border: 1px solid gray; margin: 10px; height: 200px;}
        .bgColorImage{border: 2px solid darkblue}
        #copy{position: fixed; height: 100%; width: 100%; top: 0%; left: 0%; display: none; background-color: black; opacity: 1; text-align: center; overflow: scroll}
        .image {height: 200px;}
        .captionWrapper{position: absolute; top: 0; height: 100px; background-color: black; opacity: .5; color: white; width: 100%; display: none;}
        .objectWrapper{position: relative;}
    </style>

</head>

<body>
    <div class="site container">
        <div id="header">
            <h1>Armor Images</h1>
            <h3>By Calix O'Hara</h3>
        </div>
        <div id="allArmor"></div>
        <div id="copy">
            <a href="#">Close</a>
            <div id="copy-body">
            </div>
        </div>
    </div>

    <script id="armorElement" type="text/template">
        <div class="objectWrapper">
            <div class='imageWrapper'>
                <a href="#<%= id %>"><img src=" <%= FlickrUrl %>" class="image"/></a>
            </div>
            <div class="captionWrapper">
                <ul class="armorUnorderdList">
                    <li class="armorInfo"><strong>Filename</strong> Label</li>
                    <li class="armorInfo"><strong>Century</strong> <%= Century %> </li>
                    <li class="armorInfo"><strong>Date</strong> <%= Date %> </li>
                    <li class="armorInfo"><strong>Type</strong> <%= Type %> </li>
                </ul>
            </div>
        </div>  
    </script>


    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/backbone/backbone.js"></script>
    <script src="css/bootstrap.min.js"></script>

    <script src="js/models/singleArmorModel.js"></script>
    <script src="js/views/singleArmorView.js"></script>
    <script src="js/views/allArmorView.js"></script>
    <script src="js/collections/allArmor.js"></script>
    <script src="js/routes/router.js"></script>
    <script src="js/armorApp.js"></script>

</body>
</html>